<!-- <div>
  <div>Passport field with flags and country wise validation</div><br>
  <lib-passport-input [countryConfig]="countryConfig" [regexForUnsupportedCountries]="regexForUnsupportedCountries" (passportOutput)="passportOutput($event)"/>
</div> -->

<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9 pt-4 px-4">
      <main>
        <h2>Passport input field examples using ngx-passport-input </h2>
        <p>Examples which can be created using <a
            href="https://www.npmjs.com/package/ngx-passport-input" target="_blank">Ngx passport input</a>
          package.</p>
        <p>Github repository for these examples <a href="https://github.com/kapilkumar0037/ngx-passport-usecases"
            target="_blank">Ngx passport input library use cases</a></p>

        <router-outlet></router-outlet>

      </main>
    </div>
  </div>


</div>